:root {
  --canvas-width: 720px;
  --canvas-height: 400px;
  --background-color: rgba(255, 11, 174, 1);

  --text-color: #373fff;
  --text-background-color: rgba(255, 255, 255, 1);

  --input-thumb-size: 10px;
}

* {
  font-family: "Press Start 2P", cursive;
}

span,
p,
option,
label {
  font-size: 0.8rem;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: var(--background-color);
}

#title {
  font-style: italic;
  width: 420px;
  font-size: 2rem;
  color: var(--text-color);
  background-color: var(--text-background-color);
  border: solid var(--text-color) 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  color: var(--text-color);
  background-color: var(--text-background-color);
  border: solid var(--text-color) 5px;
}

#control-div {
  display: none;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  /* max-width: 1100px; */
}

#control-div .block {
  margin: 10px 15px 10px 0;
  /* padding: 5px; */
  min-width: 250px;
  min-height: 120px;
  border: solid var(--text-color) 5px;
  /* border-color: var(--text-color); */

  color: var(--text-color);
  background-color: var(--text-background-color);
}

#mixing-div {
  display: none;
}

/* canvas */

#background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--canvas-width);
  height: var(--canvas-height);
  z-index: -1;
}

#canvas-div {
  display: none;
  margin: 1rem 0 0.5rem 0;
  position: relative;
  width: var(--canvas-width);
  height: var(--canvas-height);
  border: solid var(--text-color) 5px;
}

canvas {
  display: none;
}

/* NES */
#time-progress {
  width: 100%;
}
.nes-progress {
  width: auto;
  height: 15px;
  color: var(--text-color);
}

/* range input */
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ffffff;
  border: 0px solid #000000;
  height: var(--input-thumb-size);
  width: var(--input-thumb-size);
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ffffff;
  border: 0px solid #000000;
  height: var(--input-thumb-size);
  width: var(--input-thumb-size);
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #ffffff;
  border: 0px solid #000000;
  height: var(--input-thumb-size);
  width: var(--input-thumb-size);
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
}
